<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<!--   <staticContent>
	  <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
	</staticContent>-->
		<caching>
			<profiles>
				<add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
				<add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
				<add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
				<add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
				<add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
			</profiles>
		</caching>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\audiophile.web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
		<rewrite>
			<outboundRules>
				<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=2592000" />
				</rule>
			</outboundRules>
			<rules>
				<rule name="Force HTTPS" enabled="true">
					<match url="(.*)" ignoreCase="false" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

</configuration>